<%= form_for @house do |form| %>
  <div class="col-md-6">
    <%= form.label :address, class: "form-label" %>
    <%= form.text_field :address, class: "form-control" %>
  </div>
  <div class="col-md-6">
    <%= form.label :rooms, class: "form-label" %>
    <%= form.text_field :rooms, class: "form-control" %>
  </div>
  <div class="col-12">
    <%= form.label :size, class: "form-label" %>
    <%= form.text_field :size, class: "form-control" %>
  </div>
  <div class="col-12">
    <%= form.label :balcony, class: "form-label" %>
    <%= form.label "Yes", class: "form-label" %> 
    <%= form.radio_button :balcony, 0, label: "Yes", text: "Yes", checked: true %>
    <%= form.label "No", class: "form-label" %> 
    <%= form.radio_button :balcony, 1, label: "No", text: "No" %>
  </div>
  <div class="col-md-4">
   <%= form.label :house_type, class: "form-label" %>
   <%= form.select :house_type, [['Apartment', 'Apartment'], ['Studio', 'Studio'], ['House', 'House'], ['Condo', 'Condo'], ['Villa', 'Villa'], ['Penthouse', 'Penthouse']], {}, {class: "form-control"} %>
  </div>
  <div class="col-md-4">
   <%= form.label :image, class: "form-label" %>
   <%= form.file_field :image, class: "form-control" %>
  </div>
  <div class="col-12">
     <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>