<%= form_for @appointment, to:appointments_new_path do |form| %>
  <div class="col-md-6">
    <%= form.label :time, class: "form-label" %>
    <%= form.text_field :time, class: "form-control" %>
  </div>
  <div class="col-md-6">
    <%= form.label :date, class: "form-label" %>
    <%= form.text_field :date, class: "form-control" %>
  </div>
  <div class="col-12">
    <%= form.label :visitors, class: "form-label" %>
    <%= form.text_field :visitors, class: "form-control" %>
  </div>
  <div class="col-md-4">
   <%= form.label :user, class: "form-label" %>
   <%= form.select :user, [[:name, :id]], {}, {class: "form-control"} %>
  </div>
  <div class="col-md-4">
   <%= form.label :house, class: "form-label" %>
   <%= form.select :house, [[:address, :id]], {}, {class: "form-control"} %>
  </div>
  <div class="col-12">
     <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>